<div *ngIf="!myView; else myMeetUps;">
    <app-search (search)="searchMeetUps($event)"></app-search>
    <div class="list">
        <div *ngFor="let meetUp of meetUpList;">
            <app-record [sMeetUp]="meetUp" (subscribe)="_subscribe(meetUp)"></app-record>
        </div>
    </div>
</div>

<ng-template #myMeetUps>
    <div class="list mylist">
        <div *ngFor="let meetUp of meetUpList;">
            <app-record [sMeetUp]="meetUp" (subscribe)="_subscribe(meetUp)"></app-record>
        </div>
    </div>
</ng-template>
